<form method="POST" action="/lookup">
  <p>Look up a phone number</p>
  <p>
    Phone Number:
    <input type="tel" name="phone" required placeholder="+11234567890">
  </p>
  <p>Email to send the info to: <input type="email" name="email" required></p>
  <input type="submit">
</form>
